
/* Outer div of sidebar */
#sidebarholder {
    background-color: #ff842b;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
}

#sidebar {
    padding-left: 1em;
    padding-right: 1em;
}

/* header part of sidebar, inputbox etc */
#searchheader {
    position: fixed;
    background-color: #ff842b; 
    right:2%; 
    left: 61%
}

/* Feedback box shows messages to the user */
#feedbackbox {
    color: red;
    background-color: #ADADAD;
    border: 1px black;
    border-radius: 5px;
    font-size: .8em;
    padding: .1em 1.2em;
    opacity: .75;
}

/* Div for results of search */
#searchresults {
    padding-top: 8em;
}

/* Main map div */
#main {
    position: absolute;
    top: 0;
    left: 0;
    right: 40%;
    bottom: 0;
}

/* lowering attribution line */
#OpenLayers_Control_Attribution_7 {
    bottom: 1.5em;
    position: fixed;
}

/* class for result cards shown inside #searchresults */
.resultcard {
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ff9c1f;
    padding: .7em;
    margin-bottom: .5em;
    font-size: .7em;
    overflow: auto;
}

/* Image size inside the resultcard */
.resultcard img {
    padding-right: .5em;
    width: 15%;
    float: left;
}

/* The balloon shown on mouse over a resultcard */
.rcballoon {
    max-width: 40%;

}

/* Image size inside balloon */
.rcballoon img {
    padding-right: .5em;
    width: 20%;
    float: left;
}