#sidebarholder {
    background-color: #ff842b;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
}

#sidebar {
    padding-left: 1em;
    padding-right: 1em;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    right: 40%;
    bottom: 0;
}

/* lowering attribution line */
#OpenLayers_Control_Attribution_7 {
    bottom: 2em;
    position: fixed;
}

.resultcard {
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ff9c1f;
    padding: .7em;
    margin-bottom: .5em;

}

.rcimg {
    padding-right: .5em;
    width: 15%;
    max-height: 95%;
    float: left;
}